body {
	overflow-x: hidden;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	position: relative;
	background: none;
	text-align: center;
	padding: 20px;
	color: #717171;
	background-color: #eee;
}

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	line-height: 125%;
	font-weight: 700;
}

.vaulted-logo {
	margin-top: 10px;
	margin-bottom: 20px;
}
